*.nc
*.xtc
*.pdb
*.pyc
*.pickl
*.db
*.log
*.pickl
*.[eo]*
Model_Functions/\.ipynb_checkpoints/
*.npy
Misc/\.ipynb_checkpoints/
fs-peptide/\.ipynb_checkpoints/
*.npy
Misc/\.ipynb_checkpoints/

*.html

*.zip
