*.nc
*.xtc
*.pdb
*.pyc
*.pickl
*.db
*.log
*.pickl
*.[eo]*
Model_Functions/\.ipynb_checkpoints/
*.npy
Misc/\.ipynb_checkpoints/
fs-peptide/\.ipynb_checkpoints/
*.npy
Misc/\.ipynb_checkpoints/
.idea/
*.html

*.zip

*.tpr
*.xtc
Test_TPE/\.ipynb_checkpoints/

Test_Sobol/\.ipynb_checkpoints/

Data/Villin/\.ipynb_checkpoints/

Data/DHFR/\.ipynb_checkpoints/

Utils/\.ipynb_checkpoints/

Variable_Importance/Villin/\.ipynb_checkpoints/
DHFR/Random-GMRQ-CSE/\.ipynb_checkpoints/
Analysis/DHFR/\.ipynb_checkpoints/
DHFR/AdaptiveSampling/\.ipynb_checkpoints/

*.pdf

*.tga

*.png
*.h5
*.p
